body {
     background: black;
     text-align: center;
}
#header {
    height: 100px;
    width: 99.5%;
    padding: 10px 3px 2px 3px;
}
#navbar {
    display: inline;
    top: 65px;
    width: 99%;
}
ul {
    padding: 5px;
    list-style-type: none;
}
#navbar li:first-child {
    display: inline;
    border: 2px solid #000000;
    font-family: Arial, Tahoma, sans-serif;
    color: white;
    padding: 5px;
    border-radius: 5px 5px;
    background-color: #330000; 
}
#navbar li:nth-child(2) {
    display: inline;
    border: 2px solid #000000;
    font-family: Arial, Tahoma, sans-serif;
    color: white;
    padding: 5px;
    border-radius: 5px 5px;
    background-color: #330000;
} 
#navbar li:nth-child(3) {
    display: inline;
    border: 2px solid #000000;
    font-family: Arial, Tahoma, sans-serif;
    color: white;
    padding: 5px;
    border-radius: 5px 5px;
    background-color: #330000;
}  
#navbar li:nth-child(4) {
    display: inline;
    border: 2px solid #000000;
    font-family: Arial, Tahoma, sans-serif;
    color: white;
    padding: 5px;
    border-radius: 5px 5px;
    background-color: #330000;
}            
#navbar li:nth-child(5) {
    display: inline;
    padding:5px;
    padding-top: 10px;
} 
#navbar li:nth-child(6) {
    display: inline;
    padding:5px;
} 
#navbar li:nth-child(7) {
    display: inline;
    padding:5px;
} 
#navbar li:nth-child(8) {
    display: inline;
    padding:5px;
} 
a {
     text-decoration: none;
     color: white;
}
#twitter {
	height: 20px;
	width: 20px;
	border-radius: 3px;
	background-color: black;
}      
#google {
	height: 30px;
	width: 30px;
}  
#logo {
    display: block;
	position: relative;
    margin-left: 160px;
	height:250px;
	width: 250px;
}  
#mission {
	position: relative; 
    margin-left: 210px;
    padding: 0px;
	height: 350px;
	width: 400px;
}
h2 {
    font-family: Arial, Tahoma, sans-serif;
    font-size: 2gm;
    text-align: center;
    color: white;
}

p {
    font-size: 1gm;
    font-family: Arial,tahoma, sans-serif;
    text-align: center;
    color: white;
}
#footer {
    position: relative;
    margin: 5px;
    clear:both;
    height: 50px;
    width: 99.5%;
    text-align: center;
    font-family: Arial,tahoma, sans-serif;
    font-size: 1gm;
}
* {
    border: dashed #ff6633;
}