body {
     text-align: center;
     background: black;
     color: white;
     font-family: Futura;
}
#navbar {
    position: fixed;
    top:20px;
    left:50%;
    margin-left:-260px;
}

#header {
    position: relative;
    top: 70px;
}

ul{
    list-style-type: none;
    position: fixed;
    margin: -10px;
}

li {
    display: inline;
    border: 2px solid #000000;
    font-family: Futura, Tahoma, sans-serif;
    color: ##8C001A;
    padding: 5px;
    border-radius: 5px 5px;
}

p {
         font-size: 24px;
}
input {
        border: 0;
        padding: 12px;
        font-size: 18px;
}

body {
    text-align: center; 
}