body {
     text-align: center;
     background: black;
     color: white;
     font-family: futura;
}
#navbar {
    position: fixed;
    top:10px;
    left:50%;
    margin-center:-254px;
}

#header {
    position: relative;
    top: 20px;
}

ul{
    list-style-type: none;
    position: fixed;
    margin: -10px;
}

li {
    display: inline;
    border: 2px solid #000000;
    font-family: Futura, Tahoma, sans-serif;
    color: #ffffff;
    padding: 5px;
    border-radius: 5px 5px;
    background-color: #cc0323
}

#button{
    border: 2px solid #000000;
    float:left;
    position: relative;
    left: 229px;
    bottom: -20px;
    border-radius: 5px;
    background-color: #cc0323;
    height: 30px;
    width: 150px;
    
}

#button p{
    position: relative;
    bottom: 10px;
    font-size: 0.8em;
    color: #acd1b2;
    text-align: center;
}

.bold{
    font-family: tahoma;
    font-weight: bold;
    font-size: 1.2em;
    font-variant: small-caps;
    color: #ffffff;
}
p {
         font-size: 24px;
}
input {
        border: 0;
        padding: 12px;
        font-size: 18px;
}

body {
    text-align: center; 
}