body {
     text-align: center;
     background: black;
     color: white;
     font-family: Helvetica;
}
#navbar {
    position: fixed;
    top:10px;
    left:50%;
    margin-left:-254px;
}

#header {
    position: relative;
    top: -10px;
    background-color: #3c4543;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
p {
         font-size: 24px;
}
input {
        border: 0;
        padding: 12px;
        font-size: 18px;
}

body {
    text-align: center; 
}